<div class="card border-primary h-100" (click)="navigateToDetails()">
  <!-- Public API doesn't provide an image url for user -->
  <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuoovVYEMl5PlyrnrmjPY_0bH_k0RaXYByiMVOWeEhWeG9wxWP2ozVw0Ab51hiQzxErpo&usqp=CAU"
    class="card-img-top w-25 m-auto mt-1"
    [alt]=user.name />
  <div class="card-body h-75">
    <h5 class="card-title">{{ user.name }}</h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Username: {{ user.username }}</li>
      <li class="list-group-item">Email:
        <a [href]="'mailto:' + user.email">{{ user.email }}</a>
      </li>
      <li class="list-group-item">Phone:
        <a [href]="'tel:' + user.phone">{{ user.phone }}</a>
      </li>
      <li class="list-group-item">Company: {{ user.company.name }} </li>
    </ul>
  </div>
  <a [routerLink]="['item-details', user.id]" class="btn btn-primary w-50 m-auto mb-2">Details</a>
</div>
