<nav aria-label="Table pages navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <button
        class="page-link"
        aria-label="Previous page"
        (click)="tableService.loadPreviousPage()"
        [class.disabled]="tableService.isFirstPage"
      >&laquo;</button>
    </li>
    <li *ngFor="let page of tableService.pages" class="page-item" [class.active]="tableService.currentPage$.value === page">
      <button class="page-link" (click)="tableService.currentPage$.next(page)">{{ page }}</button>
    </li>
    <li class="page-item">
      <button
        class="page-link"
        aria-label="Next page"
        (click)="tableService.loadNextPage()"
        [class.disabled]="tableService.isLastPage"
      >&raquo;</button>
    </li>
  </ul>
</nav>
