<div class="loading" *ngIf="!posts"></div>

<div class="content" *ngIf="posts">
  <div class="d-flex justify-content-end mt-3">
    <app-search (searchTermChange)="tableService.onSearch($event)"></app-search>
  </div>

  <table class="table table-hover">
    <thead>
    <tr>
      <app-table-header-cell
        *ngFor="let column of columns"
        [column]="column"
        [sortBy]="tableService.sortBy$.value"
        [order]="tableService.order$.value"
        (onSort)="tableService.onSort($event)"
      ></app-table-header-cell>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let post of posts" (dblclick)="openModal(post)">
      <td>{{ post.number }}</td>
      <td>{{ post.title }}</td>
      <td>{{ post.body }}</td>
    </tr>
    </tbody>
  </table>

  <app-pagination></app-pagination>

  <app-modal
    #modal
    [templateRef]="modalForm"
    [modalHeader]="getModalHeader()"
    (onClose)="tableService.refreshTable()"
  ></app-modal>

  <ng-template #modalForm let-item="item">
    <app-modal-form [item]="item" (onFormSubmit)="closeModal()"></app-modal-form>
  </ng-template>
</div>
