@import 'src/styles';

tr {
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.loading {
  @include loader;
  height: 100vh;
}
