<form [formGroup]="formService.postForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="title" class="col-form-label required">Title</label>
    <input type="text" class="form-control" id="title" formControlName="title" required>
    <app-control-error [errors]="getControlErrors('title')"></app-control-error>
  </div>
  <div class="mb-3">
    <label for="body" class="col-form-label required">Body</label>
    <textarea class="form-control" id="body" formControlName="body" rows="5" required></textarea>
    <app-control-error [errors]="getControlErrors('body')"></app-control-error>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>
