.ng-invalid:not(form)  {
  border: 2px solid #dc3545;
}

.required {
  position: relative;

  &::after {
    position: absolute;
    margin-left: 0.125em;
    font-size: 0.75em;
    content: '*';
  }
}
