<div class="d-flex">
  <a class="text-decoration-none fs-1" routerLink="/">&larr;</a>
  <h1 class="text-center m-auto mt-2">{{ user.name }}</h1>
</div>
<hr>
<div class="row">
  <div class="col-12 col-md-4 text-center">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuoovVYEMl5PlyrnrmjPY_0bH_k0RaXYByiMVOWeEhWeG9wxWP2ozVw0Ab51hiQzxErpo&usqp=CAU"
      [alt]=user.name />
  </div>
  <div class="col-12 col-md-8">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Username: {{ user.username }}</li>
      <li class="list-group-item">Email:
        <a [href]="'mailto:' + user.email">{{ user.email }}</a>
      </li>
      <li class="list-group-item">Address: {{ address }}</li>
      <li class="list-group-item">Phone:
        <a [href]="'tel:' + user.phone">{{ user.phone }}</a>
      </li>
      <li class="list-group-item">Company:
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ user.company.name }}</li>
          <li class="list-group-item">
            <span class="d-block fst-italic"><q>{{ user.company.catchPhrase }}</q></span>
          </li>
          <li class="list-group-item">
            <span class="d-block"><a [href]="'https://' + user.website" target="_blank">{{ user.website }}</a></span>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
