@mixin loader {
  position: relative;

  &::before {
    $shift: -1rem;

    position: absolute;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    width: 2rem;
    height: 2rem;
    margin-top: $shift;
    margin-left: $shift;
    border: 3px solid rgba(255, 255, 255, 0.6);
    border-top-color: blue;
    border-radius: 50%;
    content: '';
    animation: inner-spinner 0.8s linear infinite;
  }

  @keyframes inner-spinner {
    to {
      transform: rotate(360deg);
    }
  }
}
